body {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
    background-color: #111;
    background-repeat: repeat;
    user-select: none;
}
.main-image-container {
    width: 200px; 
    height: 200px; 
    overflow: hidden;
    border-radius: 50%; 
    margin-left: auto;
    margin-right: auto;
}

.main-image-container img {
    width: 100%;
    height: auto; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #CF86B8;
}

.content {
    width: 100%;
    max-width: 800px;
    background-color: #CF86B8;
    padding: 20px;
    text-align: left;
    margin-top: 40px; 
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Додав цей стиль */
    max-height: 100%; /* Додав цей стиль */
}

.desc {
    padding: 15px;
    text-align: center;
}

.overlay {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7); 
    display: none; 
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    max-width: 80%;
    overflow: auto;
}

.overlay-content img {
    max-width: 70%;
    max-height: 70%;
}

