body {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
    background-color: #111;
    background-repeat: repeat;
    user-select: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #CF86B8;
}

.content {
    width: 100%;
    max-width: 800px;
    background-color: #CF86B8;
    padding: 20px;
    text-align: left;
    margin-top: 40px; 
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.image-container {
    max-width: 100%;
    height: auto;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-container2 {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-container {
    overflow: hidden;
    font-style: italic;
    align-items: center;
}
